/* <nav> */

nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    padding: 7px;
}

nav > ul > li.active {
    font-weight: bold;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: gainsboro;
}
